À partir des datasets population_communes.csv et surface_departements.csv, créer un nouveau dataset qui contient une ligne par département, avec ces colonnes:

    - la somme des "Population municipale" du département
    - la somme des "Population totale" du département (pour l'explication de la distinction entre "Population municipale" et "Population totale", voir: https://www.insee.fr/fr/metadonnees/definition/c1270)
    - la part (en pourcentage) de la population municipale par rapport à la population totale
    - la part (en pourcentage) de la population (municipale) du département au sein de sa région
    - la densité de la population (municipale) en nb d'habitants / km2
    
(Le dataset final devrait ressembler à result-exo-cc.csv)

In [2]:
import pandas as pd

In [3]:
population = pd.read_csv('population_communes.csv')

In [4]:
population.head()

,Code département,Code canton,Code arrondissement,Code région,Nom de la commune,Code commune,Nom de la région,variable,value
0,64,27.0,3,75,Aast,1,Nouvelle-Aquitaine,Population totale,184
1,64,27.0,3,75,Aast,1,Nouvelle-Aquitaine,Population municipale,177
2,55,10.0,2,44,Abainville,1,Grand Est,Population totale,310
3,55,10.0,2,44,Abainville,1,Grand Est,Population municipale,305
4,60,11.0,1,32,Abancourt,1,Hauts-de-France,Population totale,658

In [5]:
surface = pd.read_csv('surface_departements.csv')

In [6]:
surface.head()

  code_insee               nom  surf_km2
0        974        La Réunion    2505.0
1         11              Aude    6343.0
2         43       Haute-Loire    5003.0
3         13  Bouches-du-Rhône    5247.0
4         47    Lot-et-Garonne    5385.0

In [7]:
result_sample = pd.read_csv('result-exo-cc.csv')

In [8]:
result_sample.head()

,nom_dept,code_dept,code_region,pop_municipale,pop_totale,pct_pop_municipale,part_region,densite
0,Ain,01,84,638425,655171,97.444026,8.064089,110.377766
1,Aisne,02,32,536136,549587,97.552526,8.925380,72.343274
2,Allier,03,84,339384,349336,97.151167,4.286835,45.993224
3,Alpes-de-Haute-Provence,04,93,162565,167331,97.151753,3.237103,23.246818
4,Hautes-Alpes,05,93,141107,146148,96.550757,2.809817,24.768650

#### DEBUT DE L'EXERCICE :

1)
  - la somme des "Population municipale" du département
    - la somme des "Population totale" du département

In [9]:
population_dep = population.groupby(['variable', 'Code département', 'Code région']).sum()

In [10]:
population_dep.head()

                                                    Code canton  \
variable              Code département Code région
Population municipale 01               84                5080.0
                      02               32                9132.0
                      03               84                2950.0
                      04               93                1866.0
                      05               93                1788.0

                                                    Code arrondissement  \
variable              Code département Code région
Population municipale 01               84                           856
                      02               32                          2438
                      03               84                           664
                      04               93                           622
                      05               93                           289

                                                    Code commune   value
variable              Code département Code région
Population municipale 01               84                  93308  638425
                      02               32                 335580  536136
                      03               84                  50888  339384
                      04               93                  24575  162565
                      05               93                  15367  141107

2)
    - la part (en pourcentage) de la population municipale par rapport à la population totale

In [11]:
pct_pop_municipale = 100 * population_dep.loc['Population municipale'] / population_dep.loc['Population totale']

In [12]:
test = pct_pop_municipale.reset_index().drop(columns=['Code canton', 'Code arrondissement', 'Code commune']).set_index('Code département')

In [13]:
test

                  Code région      value
Code département
01                         84  97.444026
02                         32  97.552526
03                         84  97.151167
04                         93  97.151753
05                         93  96.550757
06                         93  98.649570
07                         84  97.180438
08                         44  97.302865
09                         76  96.752315
10                         44  97.559050
11                         76  97.469410
12                         76  96.274712
13                         93  98.646305
14                         28  97.740501
15                         84  96.276094
16                         75  96.606754
17                         75  97.234192
18                         24  97.464297
19                         75  96.727364
21                         27  97.574780
22                         53  96.843057
23                         75  96.762753
24                         75  97.216096
25                         27  97.453942
26                         84  97.267728
27                         28  97.222625
28                         24  97.450599
29                         53  96.990385
2A                         94  98.308465
2B                         94  98.388601
...                       ...        ...
70                         27  97.108942
71                         27  96.942677
72                         52  97.483730
73                         84  97.042742
74                         84  97.267722
75                         11  99.070594
76                         28  98.044352
77                         11  98.482179
78                         11  98.185047
79                         75  97.210859
80                         32  97.938943
81                         76  97.114812
82                         76  97.633064
83                         93  98.380546
84                         93  97.914422
85                         52  97.259012
86                         75  97.548912
87                         75  97.850554
88                         44  96.681645
89                         27  97.029376
90                         27  97.788893
91                         11  98.641366
92                         11  98.836416
93                         11  99.402900
94                         11  99.194939
95                         11  98.763759
971                         1  98.485644
972                         2  98.479181
973                         3  99.088765
974                         4  98.853751

[100 rows x 2 columns]

3)
    - la part (en pourcentage) de la population (municipale) du département au sein de sa région
    - la densité de la population (municipale) en nb d'habitants / km2

In [14]:
population_reg = population_dep.groupby('Code région').sum().reset_index()

In [15]:
population_reg

    Code région  Code canton  Code arrondissement  Code commune     value
0             1       2066.0                   92          7490    794280
1             2          0.0                  184         14790    758774
2             3          0.0                   60         14328    541181
3             4       1984.0                  122         19800   1715738
4            11      31600.0                 5938        725862  24375557
5            24      33270.0                 7118        575358   5223658
6            27      84056.0                15230       2132378   5718896
7            28      84298.0                11028       1875708   6756924
8            32     114818.0                21180       3042330  12117458
9            44     105358.0                29982       2968968  11229543
10           52      29784.0                 5632        409548   7576488
11           53      31978.0                 6036        416372   6710544
12           75     114068.0                20450       1892948  12028108
13           76      94812.0                17552       1767526  11753150
14           84      94528.0                16886       1586996  16021246
15           93      27700.0                 4228        174232  10125501
16           94       8004.0                 2072        132068    666450

In [16]:
test2 = population_dep.drop(columns = ['Code canton', 'Code arrondissement', 'Code commune']).reset_index()

In [17]:
test2.set_index('Code département')

                               variable  Code région    value
Code département
01                Population municipale           84   638425
02                Population municipale           32   536136
03                Population municipale           84   339384
04                Population municipale           93   162565
05                Population municipale           93   141107
06                Population municipale           93  1083704
07                Population municipale           84   325157
08                Population municipale           44   275371
09                Population municipale           76   153067
10                Population municipale           44   308910
11                Population municipale           76   368025
12                Population municipale           76   278697
13                Population municipale           93  2019717
14                Population municipale           28   693679
15                Population municipale           84   145969
16                Population municipale           75   353288
17                Population municipale           75   642191
18                Population municipale           24   307110
19                Population municipale           75   241535
21                Population municipale           27   533213
22                Population municipale           53   598953
23                Population municipale           75   119502
24                Population municipale           75   414789
25                Population municipale           27   538549
26                Population municipale           84   508006
27                Population municipale           28   602825
28                Population municipale           24   433929
29                Population municipale           53   908249
2A                Population municipale           94   154303
2B                Population municipale           94   176152
...                                 ...          ...      ...
70                    Population totale           27   244305
71                    Population totale           27   572527
72                    Population totale           52   582211
73                    Population totale           84   442775
74                    Population totale           84   823928
75                    Population totale           11  2210875
76                    Population totale           28  1280803
77                    Population totale           11  1419206
78                    Population totale           11  1458275
79                    Population totale           75   385495
80                    Population totale           32   584797
81                    Population totale           76   397929
82                    Population totale           76   263125
83                    Population totale           93  1073201
84                    Population totale           93   570921
85                    Population totale           52   689496
86                    Population totale           75   447026
87                    Population totale           75   383215
88                    Population totale           44   382328
89                    Population totale           27   350970
90                    Population totale           27   147347
91                    Population totale           11  1305061
92                    Population totale           11  1622143
93                    Population totale           11  1616311
94                    Population totale           11  1389336
95                    Population totale           11  1237218
971                   Population totale            1   400170
972                   Population totale            2   382294
973                   Population totale            3   271829
974                   Population totale            4   862814

[200 rows x 3 columns]

In [18]:
pct_pop_municipale = pct_pop_municipale.drop(columns = ['Code canton', 'Code arrondissement', 'Code commune']).reset_index()